resources:
- https://github.com/minio/operator?ref=v7.1.1

patches:
- target:
    kind: Deployment
    name: minio-operator
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
    - op: add
      path: /spec/template/spec/containers/0/resources
      value:
        requests:
          cpu: "250m"
          memory: "512Mi"
        limits:
          cpu: "500m"
          memory: "1Gi"