apiVersion: apps/v1
kind: Deployment
metadata:
  name: gravitino
  namespace: metadata
spec:
  template:
    spec:
      containers:
      - name: gravitino
        resources:
          requests:
            cpu: "2"
            memory: "4Gi"
          limits:
            cpu: "4"
            memory: "8Gi"
